<section id="wedding-details" class="section bg-gray">
  <div class="container">
    <h2 class="text-4xl font-ubuntu font-bold text-center text-gray-800 mb-12">
      Our Story
    </h2>

    <div class="details-grid">
      <div class="details-item">
        <h3 class="details-subtitle">Ceremony</h3>
        <p class="details-text">
          22 Full Gospel Believers Church<br />3:00 PM / 09:00 LT
        </p>
      </div>
      <div class="details-item">
        <h3 class="details-subtitle">Dress Code</h3>
        <p class="details-text">Semi-Formal</p>
      </div>
    </div>
    <div class="mapouter h-96 w-full">
      <div class="gmap_canvas h-96 w-full">
        <iframe
          class="gmap_iframe h-96 w-full"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=22 full gospel&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe>
      </div>
      <style>
        .mapouter {
          position: relative;
          text-align: right;
        }
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
        }
      </style>
    </div>
  </div>
</section>
