<app-header></app-header> 

<main>
  <section id="home"><app-home></app-home></section>
  <section id="about-us"><app-about-us></app-about-us></section>
  <section id="our-story"><app-our-story></app-our-story></section>
  <section id="wedding-details"><app-wedding-details></app-wedding-details></section>
  <section id="registry"><app-registry></app-registry></section>
  <section id="subscribe"><app-subscribe></app-subscribe></section>
  <section id="gallery"><app-gallery></app-gallery></section>
  <section id="footer"><app-footer></app-footer></section>
</main>
